@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Semibold.eot');
    src: url('fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('fonts/GraphikLCG-Semibold.woff') format('woff'),
        url('fonts/GraphikLCG-Semibold.ttf') format('truetype'),
        url('fonts/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Regular.eot');
    src: url('fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/GraphikLCG-Regular.woff') format('woff'),
        url('fonts/GraphikLCG-Regular.ttf') format('truetype'),
        url('fonts/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG', sans-serif;
}

.container {
    max-width: 1290px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.container_left {
    display: flex;
}

.container_right {
    display: flex;
}

.header {
    padding: 25px 0;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    width: 130px;
    margin-right: 51px;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-inner {
    display: flex;
    justify-content: flex-start;
}

.nav-inner_link {
    align-items: center;
    margin-right: 57px;

}

.nav-inner_link:last-child {
    margin-right: 0;
}

.nav-inner_link_a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    line-height: 20px
}

.nav-inner_link_a:hover {
    color: #FF6336;
}

.login {
    display: flex;
}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
    padding: 0 35px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #000;
    cursor: pointer;
}

.container_right .login .btn {
    margin-right: 10px;
}

.container_right .login .btn.btn_orange {
    margin-right: 0;
}


.btn:hover {
    background-color: #000;
    color: #fff;
}

.btn_orange {
    background-color: #FF6336;
    color: #fff;
    margin-right: 0;
    padding: 0 22px;
}

.btn_orange:hover {
    background-color: #000;
    color: #fff;
}

.login.login-section_btn .btn.btn_orange {
    margin-right: 10px;
}

/*main*/
/*section*/

.section {
    padding-top: 129px;
    padding-bottom: 172px;
}

.section-first {
    flex-direction: column;
    max-width: 550px;
}

.section-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 50px;
}

.section-subtitle {
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 50px;
    max-width: 470px;
}

.login-section_btn {
    flex-direction: row-reverse;
    justify-content: start;
    margin-bottom: 25px;
}

.btn-section {
    line-height: 60px;
    padding: 0 41px;
}

.btn-section-p {
    padding: 0 20px;
}

.btn-section:first-child {
    margin-right: 0;
}

.btn:nth-last-child(3) {
    padding: 0 29px;
}

.section-img_big {
    width: 740px;
}

.section-img_big_width {
    width: 100%;
}

.section-subtitle_share {
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    max-width: 470px;
}

/*section-brand*/

.section-brand {
    background-color: #FF9C7D;
    padding-top: 108px;
    padding-bottom: 104px;
}

.container-section-brand {
    flex-direction: column;
}

.section-title_second {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
}

.section-brand-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.section-brand-content_link_img {
    width: 100%;
}

/*section-control*/

.section-control_p {
    padding-top: 90px;
}

.section-control {
    padding-bottom: 250px;
    display: flex;
}

.section-control:last-child {
    padding-bottom: 150px;
}

.section-control-inner {
    align-self: center;
    padding-right: 140px;
}

.section-desc {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 520px;
}

.section-desc_link {
    color: #000000;
}

.section-desc_link:hover {
    color: #FF6336;
}

.section_link {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.section_link:hover {
    color: #FF6336;
}

.container-section-control_revers {
    flex-direction: row-reverse;
}

.section-control-inner_margin {
    margin-left: 138px;
    padding-right: 70px;
}

.section-img {
    width: 632px;
}

/*section-main-info*/

.section-main-info {
    background-color: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 147px;
}

.section-main-info:nth-last-child(1) {
    background-color: #ffffff;
}

.section-title_second_m {
    max-width: 1290px;
    margin-bottom: 79px;
}

.section-main-info_inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 288px;
    align-items: center;
    margin-bottom: 75px;
    margin-right: 50px;
    margin-left: 50px;
}

.container-section-main-info_colum {
    flex-direction: column;
}

.container-section-main-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-main-info_link {
    max-width: 160px;
}

.section-main-info_link_icn {
    width: 100%;
}

.section-main-info_title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    padding-top: 23px;
    padding-bottom: 23px;
    max-width: 300px;
    word-break: break-all;
}

.section-main-info_desc {
    text-align: center;
}

/*section-main-info_second*/

.section-main-info_second {
    background-color: #fff;
    padding-top: 154px;
    padding-bottom: 217px;
}

.section-main-info_link_images {
    max-height: 200px;
}

.section-main-info_inner_second {
    align-items: flex-start;
    max-width: 409px;
    margin-right: 0;
}

.section-main-info_title_second {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-top: 49px;
    margin-bottom: 34px;
}

.section-main-info_desc_second {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 25px;
}

.section-about-sell .section-main-info_desc_second {
    margin-bottom: 54px;
}

.section-desc_link_desc_second {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

/*section-about*/

.section-about {
    background-color: #C9E8F2;
    padding-top: 53px;
    padding-bottom: 105px;
}

.section-about-article {
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    max-width: 895px;
    margin-bottom: 23px;
}

.section-about-desc {
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 7px;
}

.section-about-title {
    display: block;
}

/*section-about-best*/

.section-about-best {
    background-color: #DABC98;
    padding-top: 80px;
    padding-bottom: 84px;
    display: flex;
}

.container-left-section-about-best {
    display: flex;
    align-items: center;
    border-right: 1px solid #000;
}

.section-about-best-icon {
    max-width: 176px;
    margin-right: 67px;
}

.section-about-best-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    margin-right: 124px;
}

.container-right-section-about-best {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.section-about-best-icon-container {
    max-width: 128px;;
    margin-right: 70px;
}

.section-about-best-icon-container_m {
    margin-right: 0;
}


.section-about-best-icon-container_first {
    max-width: 35px;
    max-height: 35px;
    margin-bottom: 20px;
}

.section-about-best-icon-container_img {
    margin-bottom: 20px;
    max-width: 128px;
}

.section-about-best-icon-container_second {
    width: 150px;
}

.section-about-best-icon-container_stars {
    margin-bottom: 15px;
}

.section-about-best-icon-container_desc {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    color: #000000;
}

.section-about-integrations {
    padding: 165px 0 162px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-about-integrations-title {
    margin-bottom: 0;
    max-width: 791px;
    text-align: center;
}

.section-about-integrations-subtitle {
    margin-bottom: 25px;
    max-width: 539px;
    text-align: center;
}

.section-about-integrations-pic {
    margin-bottom: 32px;
    max-width: 1023px;
}


.section-about-integrations-pic_img {
    width: 100%;
}

/*section-about-sell*/

.section-about-sell {
    padding: 119px 0 161px;
    background-color: #FF9C7D;
}

.container-section-about-sell {
    flex-direction: column;
    align-items: center;
}

.section-title-section-about-sell {
    margin-bottom: 29px;
}

.btn.btn_orange.btn_black {
    background-color: #000;
    font-size: 17px;
    padding-left: 39px;
    padding-right: 39px;
}

.btn.btn_orange.btn_black:hover {
    background-color: #fff;
    color: #000;
}

/*footer*/

.footer {
    background-color: #EEEEEE;
    padding-top: 92px;
    padding-bottom: 43px;
}

.container-footer {
    margin-bottom: 95px;
}

.container-left-footer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-right: 140px;
}

.footer-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    padding-bottom: 28px;
}

.footer-img_link {
    width: 300px;
    margin-bottom: 30px;
}

.footer-img {
    width: 100%;
}

.footer-icon_link {
    width: 80px;
    margin-bottom: 10px;
}

.footer-icon {
    width: 100%;
}

.footer-desc {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 15px;
    max-width: 290px;
}

.footer-nav {
    display: flex;
}

.footer-nav-inner {
    margin-right: 57px;
}
.footer-nav-inner:last-child {
    margin-right: 0;
}

.footer-nav-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 21px;

}

.footer-nav-des {
    display: block;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 15px;
    max-width: 170px;
}

.footer-nav-des:hover {
    color: #FF6336;
}

/*footer-copyrigh*/

.footer-copyrigh {
    border-top: 1px solid #000;
    padding-top: 47px;
}

.container-left-footer-copyrigh {
    display: flex;
    align-items: center;
}

.footer-copyrigh-logo {
    width: 90px;
}

.footer-copyrigh-logo_link {
    width: 100%;
}

.footer-copyrigh-desc {
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin-left: 14px;
    max-width: 300px;
}

/*adapt*/

@media (max-width: 1290px) {

    .section-main-info_link_images {
        max-height: 100px;
    }

    .section-main-info_link {
        max-width: 100px;
    }

    .nav-inner_link {
        margin-right: 50px;
    }

    .container {
        padding: 0 20px;
        text-align: center;
        align-items: center;
    }

    .header .container {
        flex-direction: column;
    }

    .section .container {
        flex-direction: column;
    }


    .container_right {
        justify-content: space-evenly;
    }

    .container_left {
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .section {
        padding: 20px 0 0 0;
    }

    .section-title {
        text-align: center;
        font-size: 33px;
        max-width: 100%;
        margin-bottom: 20px;
        line-height: 38px;
    }

    .section-subtitle {
        font-size: 20px;
        line-height: 25px;
        max-width: 99%;
        margin-bottom: 20px;
    }

    .section-first {
        max-width: 100%;
    }

    .section-img_big {
        margin-right: auto;
        margin-left: auto;
        width: 95%;
    }

    .section-img_big_width {
        max-width: 75%;
    }

    .section-title_second {
        text-align: center;
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 10px;
    }

    .section-brand {
        padding: 20px 0;
    }

    .section-brand-content  {
        margin-top: 15px;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .section-brand-content_link {
        margin: 5%;
    }

    .section-control-inner {
        padding-right: 0;
        max-width: 50%;
    }

    .section-desc {
        width: 100%;
        font-size: 18px;
        line-height: 26px;
        padding: 0;
    }

    .section-img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .section-img img {
        max-width: 90%;
        margin-right: 0;
    }

    .section-title_second_m {
        margin-bottom: 10px;
    }

    .section-control-inner_margin {
        margin-left: 0;
    }

    .section-control {
        padding: 20px 0;
    }

    .section-control:last-child {
        padding: 20px 0;
    }

    .container-section-main-info {
        align-items: center;
        justify-content: space-around;
    }

    .section-main-info_inner {
        margin: 0;
        max-width: 26%;
    }

    .section-main-info {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .section-main-info_title_second {
        margin: 20px 0;
    }

    .section-main-info_inner_second {
        max-width: 38%;
    }

    .section-about-article {
        max-width: 100%;
        font-size: 26px;
        line-height: 33px;
        margin-right: 20px;
    }

    .section-about-best {
        padding: 20px 0;
    }

    .section-about-best-title {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 28px;
    }

    .container-left-section-about-best {
        border-right: none;
        flex-direction: column;
        margin-right: 25px;
    }

    .container-right-section-about-best {
        padding-left: 0;
    }

    .section-about-best-icon {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .section-about-icon_img {
        max-width: 240px;
    }

    .section-about-title {
        margin-bottom: 20px;
    }

    .section-about-integrations {
        padding: 50px 0;
    }

    .container-left-footer {
        margin-right: 0;
        align-items: center;
    }

    .footer-img {
        max-width: 300px;
    }

    .footer-desc {
        max-width: 100%;
    }

    .section_link {
        display: block;
        margin-bottom: 20px;
    }

    .section-about-sell {
        padding: 50px 0;
    }

    .footer-nav-inner {
        margin-right: 1%;
        max-width: 100%;
    }

    .section-about-best-icon-container_m {
        margin-right: 0;
    }

    .section-about {
        padding: 50px 0 ;
    }

    .footer {
        padding: 40px 0;
    }

    .footer-title {
        font-size: 24px;
        line-height: 25px;
        padding-bottom: 20px;
    }

    .footer-img {
        max-width: 200px;
    }

    .footer-img_link {
        max-width: 200px;
        margin-bottom: 15px;
    }

    .footer-desc {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 10px;
    }

    .container-footer {
        margin-bottom: 0;
    }

    .footer-nav {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-nav-title {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px
    }

    .footer-nav-des {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 10px;
        max-width: 100%;
    }

    .footer-copyrigh {
        padding-top: 20px;
    }

}

@media (max-width: 768px) {

    .section-about-best-icon-container {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .section-about-best-icon-container:last-child {
        margin-bottom: 0;
    }

    .container {
        flex-direction: column;
    }

    .section-control-inner {
        max-width: 100%;
    }

    .header {
        padding: 20px 0 10px 0;
    }

    .container_left {
        flex-direction: column;
        margin: 0;
    }

    .logo {
        margin: 0 0 10px 0;
    }

    .nav {
        margin-bottom: 5px;
    }

    .nav-inner {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav-inner_link {
        margin: 2%;
    }

    .btn {
        line-height: 35px;
        font-size: 12px;
    }

    .btn-a_m {
        margin-right: 10px;
    }

    .container_right .login .btn {
        margin: 0;
        width: 100%;
    }

    .section {
        padding: 10px 0;
    }

    .section-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .section-subtitle {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .btn-a .btn.btn-section.btn-section-p {
        margin-right: 0;
    }

    .login-section_btn {
        margin-bottom: 10px;
    }

    .section-subtitle_share {
        font-size: 12px;
        line-height: 12px;
    }

    .section-brand {
        padding: 20px 0;
    }

    .section-title_second {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .section-brand-content {
        margin-top: 0;
    }

    .section-brand-content {
        justify-content: space-evenly;
    }

    .section-brand-content_link {
        margin: 1%;
    }

    .section-brand-content_link_img {
        max-width: 75%;
    }

    .section-control {
        padding: 20px 0;
    }

    .section-desc {
        font-size: 14px;
        line-height: 16px;
        padding: 0;
        margin-bottom: 10px;
    }

    .section-img {
        max-width: 70%;
    }

    .section_link {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .section-main-info {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .section-main-info_link {
        max-width: 35%;
    }

    .section-main-info_title {
        font-size: 14px;
        line-height: 18px;
        padding: 0;
        margin-bottom: 10px;
    }

    .section-main-info_desc {
        font-size: 12px;
        line-height: 16px;
    }

    .section-main-info_title_second {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 10px 0;
    }

    .section-main-info_desc_second {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .section-desc_link_desc_second {
        font-size: 14px;
        line-height: 24px;
    }

    .section-about {
        padding: 20px 0;
    }

    .section-about-article {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .section-about-desc {
        font-size: 13px;
        line-height: 18px;
    }
    .section-about-title {
        margin-bottom: 10px;
    }

    .section-about-icon {
        display: block;
        max-width: 100%;
    }

    .section-about-icon_img {
        max-width: 50%;
    }

    .section-about-best-icon {
        margin-bottom: 10px;
    }

    .section-about-best-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .container-right-section-about-best {
        flex-direction: column;
    }

    .section-about-integrations-pic {
        margin-bottom: 20px;
        max-width: 80%;
    }

    .section-about-integrations {
        padding: 20px 0;
    }

    .section-title {
        font-size: 18px;
        line-height: 20px;
    }

    .section-about-sell {
        padding: 20px 0;
    }

    .section-about-sell .section-main-info_desc_second {
        margin-bottom: 12px;
    }

    .btn.btn_orange.btn_black {
        font-size: 12px;
    }

    .footer {
        padding: 20px 0;
    }

    .footer-title {
        font-size: 18px;
        line-height: 20px;
    }

    .footer-img {
        max-width: 150px;
    }

    .footer-desc {
        font-size: 12px;
        line-height: 14px;
    }

    .container-left-footer-copyrigh {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .footer-copyrigh-desc {
        margin-left: 0;
        line-height: 14px;
    }

    .footer-nav-inner {
        max-width: 113px;
    }

    .section-about-best-icon-container_stars {
        margin-bottom: 0;
    }

    .section-about-best-icon-container_img {
        margin-bottom: 1px;
        max-width: 120px;
    }

    .section-about-best-icon-container_desc {
        font-size: 12px;
        line-height: 12px;
    }

    .section-about-best-icon-container_first {
        max-width: 30px;
        max-height: 30px;
        margin-bottom: 10px;
    }

    .section-img {
        max-width: 90%;
    }

    .section-main-info_inner {
        max-width: 50%;
    }
}